body {
    box-sizing: border-box;    
        display: flex;
        flex-direction: column;
        justify-content: normal;
        justify-items: stretch;
    border: 3px solid red;
    min-height: 100vh;
    margin: 0;
}
body > * {
    flex: 0;
    border: 1px solid pink;
}
main {
    flex: 1;
    overflow-y: scroll;
    border: 2px solid green;
    padding: 5px 5px;
}
main .product-item{
    padding: 0px 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.col {
    flex: 1 1 250px;
    border: 1px solid black;
}
.navigation {
    padding: 13px;
    font-size: 16pt;
}
.navigation > span {
    margin: 0 20px;
}
.field_input {
    padding-top: 30px;
    text-align: center;
}
.textarea_ids {
    width: 100%;
    box-sizing: border-box;        
}
.preview_data {
    border: solid 1px blue;
}
footer > p {
    text-align: center;
}
.product-item-detail {
    font-weight: 600;
}
.item-value {
    border-bottom: 1px dashed black;
    font-weight: 400;
}
