<!DOCTYPE html>
<html>
<head>{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'scrapper.css' %}">
</head>
<body>
    <nav class="navigation">
        <span class=""><a href="/">Головна</a></span>
        <span class=""><a href="/scrape">Додати продукти</a></span>
        <span class=""><a href="/products">Мої продукти</a></span>
        <span class="space">&nbsp;</span>
        <span class="basket"><a href="/basket">Корзина</a></span>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>ДЗ #19, #20 - Навчальний проект магазина (Джанго) [Скраппер, Вибір продуктів у корзину]<span class="rozetka_api"> за участі: <img src="{% static 'rozetka.svg' %}" width="20" height="20"> Rozetka_api ДЗ #15</span></p>
    </footer>
</body>
</html>