{% extends 'ui/base.html' %}

{% block content %}
<h2>Опис проекта</h2>
<hr>

<h3>Домашнє завдання #20 - Реалізація корзини. Зміна кількості подуктів, видалення одного продукта, очищення корзини</h3>
<ol>
    <li> &#10004; Додати сторінку корзини;</li>
    <li> &#10004; Реалізувати додавання продукта до корзини;</li>
    <li> &#10004; Реалізувати зміну кількості продукта [В корзині] (перевіряти на від'ємне значення як введеного значення, так і отриманої кількості);</li>
    <li> Видалення одного продукта [З корзини]; </li>
    <li> Очищення всієї корзини;</li>
    <li>Додатково - сформувати pdf-форму заказа</li>
</ol>

<hr>
<h3>Домашнє завдання #19 - Створення Django проекта, скрепер, показ зібраної інформації:</h3>
<ol>
    <li> &#10004; Сторінка (<a href ="{% url 'scrapper:scrape_outer_data' %}">"Додати продукти"</a>), на якій Розміщено textfield, в який можна ввести будь-яку кількість ID продуктів.</li>
    <li> &#10004; При відправленні форми, запускається скрейпер, що збирає всі продукти із визначеними ID із сайту Розетки.</li>
    <li>Процес скрейпінга відбувається "на бекграунді" - основний потік виконання не блокується:
        <ul>
            <li> &#10004; В фоновий потік передається розібраний список отриманий із textfield, без застосування передічі через модель.</li> 
            <li> &#10004; Інформація про фоновий процес виводиться справа на панелі сторінки "Додати продукти"</li>
            <li> &#10004; Результат виконання фонового процесу заноситься у модель (BackgroundProcessMessage) повідомлень про результат виконання. (Кількість запитів(Успішних, Збійних), Результати вставки у таблицю)</li>
            <li> &#10004; Після виконання фонового процесу, результат виводиться під полем вводу потрібних ID із сайту Розетки, рядки що вивелись із Таблиці видвляються</li>
            <li> &#10004; Наступне поновлення сторінки витирає ці повідомлення</li>
        </ul> 
    </li>
    <li> &#10004; Сторінка (<a href ="{% url 'scrapper:list_products' %}">"Мої продукти"</a>), на якій вивести всі продукти, які є в системі, із зазначенням їхніх основних параметрів (назва, ціна)</li>
    <li> &#10004; Сторінка "Продукт", (до якої переходити із сторінки "Мої продукти") на ній виводяться вся зібрана інформація про обраний продукт: 
        <ul>
            <li>ІД,</li>
            <li>назва,</li>
            <li>короткий опис (якщо є),</li>
            <li>категорія,</li>
            <li>бренд,</li>
            <li>ціна,</li>
            <li>стара ціна (якщо є),</li>
            <li>лінка на продукт (на сайті Розетки)</li>
            <li>зображення продукта (лінк на зображення на сайті Розетки)[може завантажитись не зразу]</li>
        </ul>
    </li>
</ol>

{% endblock %}
